<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="/data/java/wufu-java/logs/gts-manage" />
	<property name="FILE_NAME" value="gts-manage" />
	<property name="ERROR_FILE_NAME" value="gts-manage-error" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <layout class="ch.qos.logback.classic.PatternLayout">
	      <Pattern>%d{HH:mm:ss.SSS}   [%thread] %-5level %logger{36}:%line - %msg%n </Pattern>
	    </layout>
  	</appender>

	<appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_HOME}/${FILE_NAME}.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_HOME}/${FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 1GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
    	</rollingPolicy>
		<encoder>
      		<pattern>%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    	</encoder>
  </appender>
  

	<!-- ERROR 输出配置 -->
	<appender name="logErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${ERROR_FILE_NAME}.log</File>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${ERROR_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

 
<!-- 日志配置 -->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE_APPENDER" />
    <appender-ref ref="logErrorFile" />
  </root>

</configuration>